<h1><%= @user.full_name %></h1>

<div class="form-group">
    <%= form_tag add_tag_user_path, method: :post do %>
        <div class="col-md-4"><%= text_field_tag :tag, nil, placeholder: 'New Tag', class: 'form-control' %></div>
        <%= submit_tag 'Add Tag', class: 'btn btn-sm btn-primary' %>
    <% end %>
</div>